@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');


/* Colors*/

:root {
    --primary: #1a253f;
    --dark: #151A33;
    --secondary: #2b55cc;
    --info: #4b79f6;
    --ternary:#848db3;
    --pure: #eff2f9;
    --fade:#7081b9;
    --nild: #8997bd;
    --footer:#212A4A;
    --black:#060b1b;
    --twitter:#4ac7ec;
    --dribbble:#ff5da0;
    --success:#1ecab8;
    --dabger:#f1646c;
    --dark-blue:#28365f;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'IBM Plex Sans', sans-serif;
background-color: var(--dark);
-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    line-height: 1;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}
.main{
    background-color: #fbb03b;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    border: #ffffff solid ;
    width: 750px;
    margin: auto;
    color: white;
    height: 122vh;
    letter-spacing: 2px;
    height: auto;
    
}
.profile-img{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
img{
    border-radius: 50%;
    border: 5px solid #ffffff;
}
    header{
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid white;
        letter-spacing: 3px;
        
    }

      .contact {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid white;
        letter-spacing: 3px;
        
    }
    .education {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid white;
        letter-spacing: 3px;
        
    }

    .education {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid white;
        letter-spacing: 3px;
        
    }

    .experience {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid white;
        letter-spacing: 3px;
        
    }

    .skills {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid white;
        letter-spacing: 3px;
        
    }
    .languages {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid white;
        letter-spacing: 3px;
        
    }
    h1,h2{
        text-decoration: underline;
        margin-bottom: 20px;
    }